<h3>Members</h3>
@if (User.Identity!.IsAuthenticated)
{
    <p>
        Welcome <strong>@User.Identity!.Name</strong>!
        <br/>
        @User.Claims.FirstOrDefault(c => c.Type == "First name")
        <br/>
        @User.Claims.FirstOrDefault(c => c.Type == "Last name")
        <br />
        @User.Claims.FirstOrDefault(c => c.Type == "Department")
        <br/>
        @User.Claims.FirstOrDefault(c => c.Type == "ShoeSize")
    </p>
}
else
{
    <p>Du är inte inloggad...</p>
}